<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.opengles.triangle">
    <supports-screens android:resizeable="false"
        android:anyDensity="true"
        android:largeScreens="true" 
        android:smallScreens="false"
        android:normalScreens="false" 
        />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".TriangleActivity" android:label="@string/app_name"
                    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                    android:configChanges="orientation|keyboardHidden"
                    android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-sdk android:minSdkVersion="9" 
                  android:targetSdkVersion="9"
        />
    </application>
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
